In this project, I wants to create a model that can predict the price of apartments in the city of Buenos Aires

Firstly, I would be considering properties in the following categories

+ Properties with price less than 400000 in Capital Federal of apartment property type

In [5]:
import pandas as pd
from glob import glob

In [36]:
#define function to read and clean dataset
def wrangle(filepath):
    df = pd.read_csv(filepath)
    # Properties with price less than 400000 in Capital Federal of apartment property type
    apartment_df = df["property_type"] == "apartment"
    _400k_df = df["price_aprox_usd"] < 400000
    capital_federal_df = df["place_with_parent_names"].str.contains("Capital Federal", na=False)
    df = df[apartment_df & _400k_df & capital_federal_df]
    
    return df

In [ ]:
#import dataset
frames = []
filepaths = glob("dataset/buenos-aires-real-estate-*.csv")
for filepath in filepaths:
    frame = wrangle(filepath)
    frames.append(frame)

df = pd.concat(frames, ignore_index=True) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8774 entries, 0 to 8773
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   operation                   8774 non-null   object
 1   property_type               8774 non-null   object
 2   place_with_parent_names     8774 non-null   object
 3   lat-lon                     8432 non-null   object
 4   price                       8774 non-null   float64
 5   currency                    8774 non-null   object
 6   price_aprox_local_currency  8774 non-null   float64
 7   price_aprox_usd             8774 non-null   float64
 8   surface_total_in_m2         6140 non-null   float64
 9   surface_covered_in_m2       8036 non-null   float64
 10  price_usd_per_m2            5854 non-null   float64
 11  price_per_m2                7915 non-null   float64
 12  floor                       2454 non-null   float64
 13  rooms                       6799 non-null   float64
 14  expenses                    2288 non-null   float64
 15  properati_url               8774 non-null   object
dtypes: float64(10), object(6)
memory usage: 1.1+ MB

In [41]:
df.head()

,operation,property_type,place_with_parent_names,lat-lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url
0,sell,apartment,|Argentina|Capital Federal|Villa Crespo|,"-34.6047834183,-58.4586812499",180000.0,USD,2729232.0,180000.0,120.0,110.0,1500.000000,1636.363636,NaN,4.0,NaN,http://villa-crespo.properati.com.ar/12egq_ven...
1,sell,apartment,|Argentina|Capital Federal|Chacarita|,"-34.5846508988,-58.4546932614",129000.0,USD,1955949.6,129000.0,76.0,70.0,1697.368421,1842.857143,NaN,NaN,NaN,http://chacarita.properati.com.ar/10qlv_venta_...
2,sell,apartment,|Argentina|Capital Federal|Villa Luro|,"-34.6389789,-58.500115",87000.0,USD,1319128.8,87000.0,48.0,42.0,1812.500000,2071.428571,NaN,NaN,NaN,http://villa-luro.properati.com.ar/12m82_venta...
3,sell,apartment,|Argentina|Capital Federal|Once|,"-34.6050060697,-58.4001162302",60000.0,USD,909744.0,60000.0,28.0,28.0,2142.857143,2142.857143,NaN,1.0,NaN,http://once.properati.com.ar/zz0q_venta_depart...
4,sell,apartment,|Argentina|Capital Federal|San Nicolás|,"-34.603898,-58.378617",69000.0,USD,1046205.6,69000.0,NaN,22.0,NaN,3136.363636,23.0,2.0,NaN,http://san-nicolas.properati.com.ar/rnju_venta...